:root{
    --speed : 5;
}


.machine{
    display: flex;
    height: 300px;
    width: 880px;
    background-color: peru;
    border: dashed brown 3px;
    margin-left: 185px;
    margin-top: 50px;
    margin-bottom: 50px;
    /* z-index: 5; */
}

.slot{
    height: 250px;
    width: 250px;
    margin: 20px;
    background-color: beige;
    border: solid darkblue 2px;
    font-size: 80pt;
    text-align: center;
    line-height: 250px;
    overflow: hidden;

}

.slot > .value{
    animation-name: spin;
    animation-iteration-count: 30;
    animation-duration: 0.1s;
    animation-play-state: paused;
    animation-timing-function: ease-out;
}

.btn > button{
    color: white;
    background-color: red;
    height: 50px;
    width: 175px;
    margin-left: 550px;
}

@keyframes spin{
    0%{
        transform: translateY(-200px);
    }

    50%{
        transform: translateY(200px);
    }

    75%{
        transform: translateY(-200px);
    }

}