<h1>create a product</h1>
<form action="/createProduct" method="POST" enctype="multipart/form-data">
    <div>
        <label for="title">Title</label>
        <input type="text" name="title">
    </div>
    <div>
        <label for="category">Category</label>
        <input type="text" name="category">
    </div>
    <div>
        <label for="image">Image</label>
        <input type="file" name="image">
    </div>
    <div>
        <label for="price">Price</label>
        <input type="text" name="price">
    </div>
    <div>
        <label for="quantity">Quantity</label>
        <input type="text" name="quantity">
    </div>

    <button type="submit">ADD PRODUCT</button> 

</form>


{{!-- <section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.jpg');"> --}}
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 6px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-4">ADD NEW PRODUCT</h2>

              <form action="/createProduct" method="POST" enctype="multipart/form-data">

                <div class="form-outline mb-3">
                    <label class="form-label" for="title">Title</label>
                  <input name="title" type="text" class="form-control form-control-lg" />
                </div>

                <div class="form-outline mb-3">
                    <label class="form-label" for="category">Category</label>
                  <input  name="category" type="text" class="form-control form-control-lg" />
                </div>

                <div class="form-outline mb-3">
                    <label class="image" for="form3Example4cg">Cover image</label><br>
                    <input name="image" type="file" class=" form-control-lg" />
                </div>

       
                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Add to store</button>
                </div>

              
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{!-- </section --}}