{{#each myProducts}}
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src={{cover_image}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{description}}</p>
    <p class="card-text">{{category}}</p>
  </div>
</div>
{{/each}}