.container{
    display: flex;
    
}

.item{
    background-color: maroon;
    color: white;
    height: 450px;
    width: 300px;
    margin: 10px;
}

@media (max-width :1500px){
    
    .container{
        flex-wrap: wrap;
    }
}
@media (max-width :1200px){
    
    .container{
        flex-wrap: wrap;
    }
}
@media (max-width :900px){
    
    .container{
        flex-wrap: wrap;
    }
}
@media (max-width :600px){
    
    .container{
        flex-wrap: wrap;
    }
}
@media (max-width :300px){
    
    .container{
        flex-wrap: wrap;
    }
}