.box{
    height: 100px;
    width: 100px;
    margin: 30px;
    background-color: brown;
}


@media (max-width : 900px){
    .box{
        background-color: blue;
    }
}

@media (max-width : 750px){
    .box{
        background-color: limegreen;
    }
}

@media (max-width : 600px){
    .box{
        background-color: purple;
    }
}

/* max width properties must be written in descending order, because the one written later will override previous */
