<ul class="list-group">
{{#each l}}
  <div class="card-body" style="border: 1px solid black; ">
    <h5 class="card-title">Name = {{this.name}}</h5>
    <p class="card-text">Email = {{this.email}}</p>
  </div>
{{/each}}
</ul>

